.sternet-light-section {
    margin: 0 auto;
    max-width: 1920px;
    background: #F8F8F8;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;


    @media only screen and (max-width: 576px) {
        .classtwo { order: 1; }
        .classone { order: 2;  }
        .classthree { order: 3; }
    }
    /* @media only screen and (min-width: 600px) {
        .classtwo { order: 1; }
        .classone { order: 2;  }
        .classthree { order: 3; }
    } */
}

.sternet-section {
    height: 560px;
}

.sternet-card {
    position: revert;
    height: auto;
}

.sternet-text {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.sternet-text h3 {
    font-weight: 700;
    font-size: 40px;
    color: #1E3164;
}

.sternet-text p {
    font-weight: 400;
    font-size: 26px;
    color: #1E3164;
    margin-top: 20px;
}

.sternet-text button {
    /* border: 0;
    font-weight: 700;
    font-size: 26px;
    color: white;
    background: #2883FF;
    height: 60px;
    width: 230px;
    border-radius: 10px;
    margin-top: 20px; */
    background: #2883FF;
    padding: 10px 40px;
    border: 0px;
    margin-top: 20px;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
}

.light-box {
    width: 550px;
}

.light-box img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 47px;
}

.light-card {
    position: revert;
    height: auto;
}

.light-images {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.color-light {
    width: 100px;
    position: absolute;
    left: 270px;
    bottom: -45px;

    @media only screen and (max-width: 576px) {
        width: 70px;
        position: absolute;
        left: 135px;
        bottom: -35px;}

        @media only screen and (min-width: 576px) {width: 70px;
            position: absolute;
            left: 135px;
            bottom: -35px;}


}

.color-light img {
    max-width: 100%;
    max-height: 100%;
}

.wifi-light {
    width: 130px;
    position: absolute;
    left: 110px;
    bottom: -70px;
    @media only screen and (max-width: 576px) {
        width: 70px;
        position: absolute;
        left: 10px;
        bottom: -30px;
    }
}

.wifi-light img {
    max-width: 100%;
    max-height: 100%;
    
    
}

.led-light {
    width: 130px;
    position: absolute;
    right: 20px;
    bottom: 0px;

    @media only screen and (max-width: 576px) {
        width: 70px;
        position: absolute;
        right: 20px;
        bottom: 0px;}
}

.led-light img {
    max-width: 100%;
    max-height: 100%;
}


@media only screen and (max-width: 576px) {
    .sternet-section {
        height: auto!important;
    }
    .light-images,
    .sternet-text {
        position: relative!important;
        top: auto!important;
        left: auto!important;
        transform: translate(0%, 0%)!important;
    }
    .direction_fl {
        flex-direction: column-reverse!important;
    }
    .sternet-card {
        margin: 30px 0px;
    }
    .light-box {
        width: auto!important;
    }
    .sternet-text h3 {
        font-size: 22px;
    }
    .sternet-text p {
        font-size: 16px;
    }
}