

.bg {
    background-color: #2883FF;
}

.header_sec {
    padding: 0px 50px;
    background-color: #2883FF;
}

.navbar-brand {
    line-height: 1;
    padding-left: 0.5rem;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    font-family: Arial;


    @media only screen and (max-width: 576px) {
        
            font-size: 24px;
            padding-left: 0;
            justify-content: center;
       
    }

    @media only screen and (min-width: 576px) {
        
            font-size: 24px;
            padding-left: 0.5rem;
        
    }

    @media only screen and (min-width: 992px) {
        
            font-size: 28px;
            padding-left: 1rem;
       
    }

    @media only screen and (min-width: 1200px) {
        
            font-size: 32px;
            padding-left: 1.5rem;
       
    }
}


.navbar-brand:hover {
    color: #FFFFFF;
}

.nav-link {
    color: white;
    font-size: 30px;
    margin: 0 10px;

    @media only screen and (max-width: 576px) {
        
            font-size: 24px;
            margin: 0 8px;
       
    }
    
}

.navbar-nav .nav-link:hover {
    color: #FFFFFF;
}

.Listitem {
    margin-left: 40px;
}

.bag {
    display: flex;
    justify-content: flex-end;
    visibility: hidden;


    
    
}





@media only screen and (max-width: 576px) {
    .navbar-toggler-icon {
        float: left; 
        margin: 0px;
        background-image: url(../src/images/Menu.png);
        border-color: white;
        
    }
}
@media only screen and (min-width: 576px) {
    .navbar-toggler-icon {
        float: left; 
        margin: 0px;
        background-image: url(../src/images/Menu.png);
        border-color: white;
        
    }
}

@media only screen and (min-width: 576px) {
    .navbar-toggler-icon {
        
        background-image: url(../src/images/Menu.png);
      
        
    }
}

.logo {
    @media only screen and (max-width: 576px){
        
            width: 49px;
            height: 49px;
            margin: 5px 5px 5px 0px;
           
       
    }
}

.header_sec {
    @media only screen and (max-width: 576px){
        padding: 0px 10px ;
    background-color: #2883FF;
}
@media only screen and (min-width: 576px){
    padding: 0px 10px;

}
}

.logo{
    margin-right :  10px  ;
}

.navbar-toggler collapsed{
    border: none;
    @media only screen and (max-width: 576px){
        padding: 0px 10px;
        
    background-color: #2883FF;
}

}