.testimonial_wrap {
    padding: 50px 150px;
}

.testimonial_wrap h5{
    margin-bottom: 120px;
}

.testimonial_wrap .circle{
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    padding: 50px 30px;
}

.testimonial_wrap .circle img{
    margin-top: -110px;
}